{% block footer %}




<section class="col-12 border border-light bg-warning p-3">
<div class="container">
  <div class="row">

<div class="col-md-10">
<h5>NOUS POUVONS VOUS AIDER?</h5>
  <ul>
    <li><a href="#" class="btn">Nous contacter</a></li>
    <li><a href="https://www.economie.gouv.fr/dgccrf/Publications/Vie-pratique/Fiches-pratiques/Conditions-generales-de-vente" class="btn">Conditions Générales de ventes</a></li>
    <li><a href="https://entreprendre.service-public.fr/vosdroits/F31228#:~:text=Les%20mentions%20l%C3%A9gales%20sont%20les,ou%20dans%20une%20page%20d%C3%A9di%C3%A9e." class="btn">Mentions Légales</a></li>
    <li><a href="https://www.economie.gouv.fr/politique-confidentialite" class="btn">Politique de Confidentialité</a></li>
  </ul>

  </div>

  <div class="col-md-2 mt-5">
  <h5>Retrouvez nous sur:</h5>
  <a href="https://www.facebook.com/people/WaxdOr/100083147118063/?paipv=0&eav=AfbiCvSeKAv6J79cNXImd5KEN0I6BA4bvcBh5AjfP7fv8AtBkZTmfXnfVU6fAHrVDZg&_rdr">
  <img src="{{ asset('assets/uploads/products/Facebook_icon.png') }}" alt="facebook"  width="50">
  </a>
  <a href="https://www.instagram.com/waxd_orr/">
  <img src="{{ asset('assets/uploads/products/Instagram_logo.png') }}" alt="instagram"  width="50">
  </a>
  </div>


</div>

</div>
</section>
<p class="text-center">©Designed by Merline NGAIDOMA</p>

{% endblock %}